In [2]:
#import
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np 
import datetime
from scipy import stats 
from datetime import datetime, timedelta
import time
import sklearn as sk
import nltk
import sqlite3
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.cluster import KMeans
from nltk.tokenize import RegexpTokenizer
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

In [3]:
conn = sqlite3.connect('JobsDBa.db')
cur = conn.cursor()

cur.execute('SELECT * FROM [Jobs Indeed]')
data = cur.fetchall()
dfa = pd.DataFrame(data=data, columns=['Job Title', 'Company','Location','Description'])

,Job Title,Company,Location,Description,Job Search
0,Inventory Cycle Data Analyst,Libratel Inc,"- North York, ON",SummaryLibratel is a leading manufacturer and ...,Data Analyst
1,Social Media Data Analyst,URBA Media,"- Toronto, ON",PerksWork remote.Flexible hours.Be part of Cal...,Data Analyst
2,Intermediate Data Analyst,Instaclick Inc.,"- Toronto, ON",This role is responsible for working within th...,Data Analyst
3,Finance - Sales and Trading Analyst,KBFX,"- North York, ON",CompanyKnightsbridge Foreign Exchange is a cur...,Data Analyst
4,Data Scientist I,TD Bank,"- Toronto, ON",Tell us your story. Don't go unnoticed. Explai...,Data Analyst

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 5 columns):
Job Title      3799 non-null object
Company        3799 non-null object
Location       3799 non-null object
Description    3799 non-null object
Job Search     3799 non-null object
dtypes: object(5)
memory usage: 148.5+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2878 entries, 0 to 2877
Data columns (total 5 columns):
Job Title      2878 non-null object
Company        2878 non-null object
Location       2878 non-null object
Description    2878 non-null object
Job Search     2878 non-null object
dtypes: object(5)
memory usage: 112.5+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 5 columns):
Job Title      990 non-null object
Company        990 non-null object
Location       990 non-null object
Description    990 non-null object
Job Search     990 non-null object
dtypes: object(5)
memory usage: 38.8+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1378 entries, 0 to 1377
Data columns (total 5 columns):
Job Title      1378 non-null object
Company        1378 non-null object
Location       1378 non-null object
Description    1378 non-null object
Job Search     1378 non-null object
dtypes: object(5)
memory usage: 53.9+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2867 entries, 0 to 2866
Data columns (total 5 columns):
Job Title      2867 non-null object
Company        2867 non-null object
Location       2867 non-null object
Description    2867 non-null object
Job Search     2867 non-null object
dtypes: object(5)
memory usage: 112.1+ KB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11912 entries, 0 to 1377
Data columns (total 5 columns):
Job Title      11912 non-null object
Company        11912 non-null object
Location       11912 non-null object
Description    11912 non-null object
Job Search     11912 non-null object
dtypes: object(5)
memory usage: 558.4+ KB

7245

In [11]:
punc = ['.',',','"','?', '!', ':',';','(',')','[',']','{','}','%','$','#','@','&','*',"'"]
stop_words = text.ENGLISH_STOP_WORDS.union(punc)
desc = dfc['Description'].values
vectorizer = TfidfVectorizer(stop_words = stop_words)
X = vectorizer.fit_transform(desc)
word_features = vectorizer.get_feature_names()
print(len(word_features))
print(X.toarray)

57450
<bound method _cs_matrix.toarray of <11912x57450 sparse matrix of type '<class 'numpy.float64'>'
	with 2734829 stored elements in Compressed Sparse Row format>>

In [12]:
stemmer = SnowballStemmer('english')
# tokenizer = RegexpTokenizer(r'[a-zA-Z\']+')

# def tokenize(text):
#     return [stemmer.stem(word) for word in tokenizer.tokenize(text.lower())]

vectorizer2 = TfidfVectorizer(stop_words = stop_words)
X2 = vectorizer2.fit_transform(desc)
word_features2 = vectorizer2.get_feature_names()
print(len(word_features2))

57450

In [13]:
count_vect = CountVectorizer(stop_words = stop_words)
dlist = [dfa, dfmle, dfde, dfbd, dfs]
dout = []
for df in dlist:
    X = count_vect.fit_transform(df['Description'])
    featname = count_vect.get_feature_names()
    dfcount = pd.DataFrame(data=X.toarray(), columns=featname)
    dout.append(dfcount)
dtitle = ['Data Analyst Count Vector Top 50','Machine Learning Engineer Count Vector Top 50','Data Engineer Count Vector Top 50','Big Data Count Vector Top 50','Data Scientist Count Vector Top 50']
for df,title in zip(dout, dtitle):
    wordcomp = df.mean().tolist()
    label = list(df.columns.values)
    win = []
    for m,w in zip(wordcomp,label):
        ls = [w,m]
        win.append(ls)
    dfwc = pd.DataFrame(data=win, columns=['Word','Mean Appearance'])
    dfwcb = dfwc.nlargest(50,'Mean Appearance')
    dfwcb.to_sql(name=title, con =conn, if_exists='replace')
#     cur.execute('CREATE TABLE IF NOT EXISTS [' + title + ']([Word] TEXT, [Mean Appearance] INTEGER, UNIQUE([Word]))')
#     cur.execute('INSERT OR IGNORE INTO [' + title + ']([Word],[Mean Appearance]) VALUES(?,?)', (dfwcb['Word'],dfwcb['Mean Appearance']))

D:\Anaconda\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)
D:\Anaconda\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)
D:\Anaconda\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)
D:\Anaconda\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)
D:\Anaconda\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [14]:
lemma = WordNetLemmatizer()

def tokenize(txt):
    return [lemma.lemmatize(word) for word in word_tokenize(txt.lower())]
count_vect = CountVectorizer(stop_words = stop_words, tokenizer=tokenize)
dlist = [dfa, dfmle, dfde, dfbd, dfs]
dout = []

for df in dlist:
    X = count_vect.fit_transform(df['Description'])
    featname = count_vect.get_feature_names()
    dfcount = pd.DataFrame(data=X.toarray(), columns=featname)
    dout.append(dfcount)

wordcomp = dout[0].mean().tolist()
label = list(dout[0].columns.values)
win = []
for m,w in zip(wordcomp,label):
    ls = [w,m]
    win.append(ls)
dfwc = pd.DataFrame(data=win, columns=['Word','Mean Appearance'])
dfwc.head(5)
dfwc.sort_values(by=['Mean Appearance'], ascending=False)
dfwcb = dfwc.nlargest(150,'Mean Appearance')
print(dfwcb)

D:\Anaconda\lib\site-packages\sklearn\feature_extraction\text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['``', 'ha', 'le', 'u', 'wa'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

                Word  Mean Appearance
11789           data         6.161358
7622        business         4.006054
16254     experience         3.828902
40130           team         2.815215
43945           work         2.795999
37211          skill         2.288497
44730              ’         2.130297
4485        analysis         2.116873
3152         ability         1.935246
24319     management         1.779942
32035        project         1.600421
31502        process         1.596473
39438        support         1.555146
44464           year         1.476441
4646         analyst         1.432745
35626              s         1.409581
11503       customer         1.396947
200               --         1.271124
31692        product         1.270071
28326    opportunity         1.238747
4803       analytics         1.188471
34308       required         1.170571
38991         strong         1.151356
33982         report         1.139247
20765      including         1.112135
34003      reporting         1.111345
22671      knowledge         1.089234
36612        service         1.085812
9764         company         1.084759
34481    requirement         1.080548
21056    information         1.068176
44027        working         1.050540
9110          client         0.978679
17224      financial         0.976046
13135    development         0.974467
27082            new         0.964991
12534         degree         0.944722
37740       solution         0.941827
22321            job         0.939984
41161           tool         0.915504
15297    environment         0.890234
9685   communication         0.867860
32337        provide         0.857068
35384           role         0.838642
33770        related         0.837589
30543       position         0.834957
4778      analytical         0.832324
24749      marketing         0.823901
21316        insight         0.802580
40432     technology         0.802580

In [15]:
tfidf_vect = TfidfVectorizer(stop_words = stop_words)
dlist = [dfa, dfmle, dfde, dfbd, dfs]
dout = []
for df in dlist:
    X = tfidf_vect.fit_transform(df['Description'])
    featname = tfidf_vect.get_feature_names()
    dfcount = pd.DataFrame(data=X.toarray(), columns=featname)
    dout.append(dfcount)
dtitle = ['Data Analyst Tfidf Top 150','Machine Learning Engineer Tfidf Top 150','Data Engineer Tfidf Top 150','Big Data Tfidf Top 150','Data Scientist Tfidf Top 150']
dout[0].describe()
for df,title in zip(dout, dtitle):
    wordcomp = df.mean().tolist()
    label = list(df.columns.values)
    win = []
    for m,w in zip(wordcomp,label):
        ls = [w,m]
        win.append(ls)
    dfwc = pd.DataFrame(data=win, columns=['Word','TF-IDF'])
    dfwcb = dfwc.nlargest(150,'TF-IDF')
    dfwcb.to_sql(name=title, con =conn, if_exists='replace')
#     cur.execute('CREATE TABLE IF NOT EXISTS [' + title + ']([Word] TEXT, [Mean Appearance] INTEGER, UNIQUE([Word]))')
#     cur.execute('INSERT OR IGNORE INTO [' + title + ']([Word],[Mean Appearance]) VALUES(?,?)', (dfwcb['Word'],dfwcb['TF-IDF']))

,00,000,00001,00003901,00004500,00004959,000application,000s,000year,000欢迎应届毕业留学生申请,...,经济,职位类型,英文,计算机等stem类皆可,请加wx,需要有基础编程技能,需要至少学士学历或在读生,ﬁeld,ﬁnancial,ﬁrm
count,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,...,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000,3799.000000
mean,0.004624,0.005664,0.000012,0.000012,0.000018,0.000036,0.000021,0.000046,0.000093,0.000038,...,0.000038,0.000061,0.000061,0.000038,0.000038,0.000038,0.000038,0.000022,0.000022,0.000025
std,0.022558,0.018063,0.000748,0.000748,0.001086,0.002245,0.001325,0.002814,0.003319,0.002313,...,0.002313,0.003736,0.003736,0.002313,0.002313,0.002313,0.002313,0.001360,0.001360,0.001529
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.266569,0.226859,0.046122,0.046122,0.066921,0.138367,0.081644,0.173456,0.137504,0.142548,...,0.142548,0.230253,0.230253,0.142548,0.142548,0.142548,0.142548,0.083831,0.083831,0.094223

In [ ]:
tfidf_vect = TfidfVectorizer(stop_words = stop_words)
X = tfidf_vect.fit_transform(dfc['Description'])
featname = tfidf_vect.get_feature_names()
dfcount = pd.DataFrame(data=X.toarray(), columns=featname)
dtitle = ['Data Analyst Tfidf Top 150','Machine Learning Engineer Tfidf Top 150','Data Engineer Tfidf Top 150','Big Data Tfidf Top 150','Data Scientist Tfidf Top 150']
title= 'Comparison TFIDF Top 150'
wordcomp = dfcount.mean().tolist()
label = list(dfcount.columns.values)
win = []
for m,w in zip(wordcomp,label):
    ls = [w,m]
    win.append(ls)
dfwc = pd.DataFrame(data=win, columns=['Word','TF-IDF'])
dfwcb = dfwc.nlargest(50,'TF-IDF')
dfwcb.to_sql(name=title, con =conn, if_exists='replace')
dfc.to_sql(name='Combined Table', con=conn, if_exists='replace')
# cur.execute('CREATE TABLE IF NOT EXISTS [' + title + ']([Word] TEXT, [Mean Appearance] INTEGER, UNIQUE([Word]))')
# cur.execute('INSERT OR IGNORE INTO [' + title + ']([Word],[Mean Appearance]) VALUES(?,?)', (dfwcb['Word'],dfwcb['TF-IDF']))